.activities{
    width: 100% !important;
    margin-top: 20px !important;
}
.activities .carousel-control-prev,
.activities .carousel-control-next{
    width: 5% !important;
    bottom: 100px !important;
}