.activities{
    width: 100% !important;
    margin-top: 20px !important;
}
.activities .carousel-control-prev,
.activities .carousel-control-next{
    width: 5% !important;
    bottom: 100px !important;
}

@media screen and (max-width: 1326px) {
    .active.carousel-item{
        overflow-x: scroll;
        gap:175px;
    }
    
}