.location{
    margin-top: 20px;
}
.addr{
    margin-top: 10px;
    font-size: 15px;
}
.view{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none !important;
}
.map{
    height: 350px;
    width: 100%;
    margin-top: 10px;
    background-color: aquamarine;
}