.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    background-color: #fff;
    padding: 20px;
}
.logo{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 200;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}
.nav-list{
    display: flex;
    flex-direction: row;
    gap: 20%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 30%;
    align-items: flex-end;
    text-wrap: nowrap;
}
.nav-list a{
    text-decoration: none;
    color: #000;
}