.banner{
    display: flex;
    padding: 10px;
    justify-content: center;
    color: #fff;
    font-size: larger;
    margin-bottom: 10px;
    border-radius: 10px;
}
.success-msg{
    background-color: rgb(57, 154, 122);
}
.failure-msg{
    background-color: rgb(255, 99, 71);
}
.booking-success{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.booking-success .order-form{
    width: 98%;
}
.booking-success .booking-section{
    width: 70%;
}
.booking-success .booking-details{
    margin-top: 20px;
}
.room-title{
    font-size: 18px;
    font-weight: 600;
}
.guest-name{
    font-size: 18px;
    font-weight: 400;
}
.booking-success .sub-title-1{
    font-size: 25px;
    font-size: 600;
}
.booking-flex{
    display: flex;
    flex-direction: row;
}
.booking-ref{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 980px){
    .booking-success .booking-section{
        flex-direction: column;
    }
    .booking-success .order-form{
        width: 100%;
    }
    .booking-success .booking-details{
        width: 100%;
    }
    .booking-flex{
        flex-direction: column;
    }
    .booking-success .booking-section{
        width: 100%;
    }
    .booking-success .custom-indicators{
        display: none;
    }
}
@media screen and (max-width: 710px){
    .booking-ref{
        flex-direction: column;
        gap: 5px;
    }
}