.navigation-items-list{
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: flex-end;
}
.navigation-items-list a{
    text-decoration: none;
    color: #000;
}
.underline{
    border-bottom: 2px solid #399a7a;
}
.itembox{
    display: flex;
    align-items: center;
    height: 62px;
}

@media  screen and (max-width: 740px) {
    .navigation-items-list{
        font-size: 15px;
        overflow-x: scroll;
        gap:2px;
    }
}