body{
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'Jost' ;
}

@media screen and (max-width: 1326) {
    body{
        padding-left: 20px;
        padding-right: 20px;
    }
    
}
@media screen and (max-width: 985px){
    body{
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media screen and (max-width: 900px) {
    body{
        padding-left: 40px;
        padding-right: 40px;
    }
    
}
@media screen and (max-width: 400px) {
    body{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 500px) {
    body{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 600px) {
    body{
        padding-left: 20px;
        padding-right: 20px;
    }
}